{% extends 'components/basic_web.html' %}

{% block title %}
<title>Profile</title>
{% endblock %}

{% block body_tag %}
<body class="grid-container profile-grid">
{% endblock %}
{% block main_part %}
    <main>
        {% if first_name %}
            {{super()}}
            <h2>Here you can see all the inner owl cards you have freed</h2>
            {% if cards|length > 1 %}
                {% for owl in cards %}
                    <img class="card" src={{owl}}>
                {% endfor %}
            {% else %}
                <br>
                <h2>You didn't free any owls yet, conntact us and we will help you free them, for only 2000$ per owl!</h2>
                <h3>You can also buy the whole owl-free program for only 100,000$ for a year and be free from this world's burdens!!!!</h3>
            {% endif %}
        {% else %}
            <h2>you need to be registered to watch this page</h2>
            <a href="/assignment3_2">
                <button class="submitButton">Register</button>
            </a>
        {% endif %}
    </main>
{% endblock %}