{% extends 'components/basic_web.html' %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block body_tag %}
<body class="no_y grid-container home-grid">
{% endblock %}

{% block main_part %}
<aside>
    <span>We make<br> your inner <br>owl </span>
    <span class="pinkWord"> shine!</span>
    <br>
    <a href="contact">
        <button>
            <span>Connect Us</span>
        </button>
    </a>
</aside>
<figure >
    <img src="../static/owly.png" alt="owl"/>
</figure>
{% endblock %}