<nav>
    <div id="navLinks">
        <a href="javascript:void(0);" class="icon" onclick="openMenu()">
            <img class="hamburg" src="../static/hamburg.png" alt="hamburger"/>
        </a>
        <a id="Home" href="/home" class="navL">Home</a>
        <a id="Connect_Us" href="/contact" class="navL">Connect Us</a>
        <a id="Profile" href="/assignment3_1" class="navL">Profile</a>
        <a id="Register" href="/assignment3_2" class="navL">Register</a>
        <a id="Users" href="/assignment4" class="navL">Users</a>
        <a id="Outer" href="/assignment4/outer_source" class="navL">Outer</a>
    </div>
</nav>