<header>
    <img class="logo" src="../static/x-diamond-fill.png" alt="logo"/>
    <h1 class="pinkWord logoText">OWLCOME</h1>
</header>
<nav>
    <div id="navLinks">
        <a href="javascript:void(0);" class="icon" onclick="openMenu()">
            <img class="hamburg" src="../static/hamburg.png" alt="hamburger"/>
        </a>
        <a id="Home" href="home" class="navL">Home</a>
        <a id="Connect_Us" href="contact" class="navL">Connect Us</a>
        <a id="Profile" href="assignment3_1" class="navL">Profile</a>
        <a id="Register" href="assignment3_2" class="navL">Register</a>
    </div>
</nav>